<%= button_to "Log Out", destroy_login_session_path, method: :delete %>
<h2>Welcome <%= current_login.first_name %></h2>
<hr />
<h3>Let's Get Started!</h3>
<hr />
<%= link_to 'Patients', users_path, class:"item" %>
<hr />
<%= link_to 'Doctors', doctors_path, class:"item" %>

